.clear-button{
  z-index: 1;
 position: absolute;
    margin-top: 6px;
    margin-left:-20px;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 6px 3px;
}

.clear-button:before {
  content: "×";
}

.react-datepicker-ignore-onclickoutside, .react-datepicker__input-container input, .react-datepicker-wrapper, .react-datepicker__input-container{
  width: 100%;
}

.item-per-page-wrapper{
  width: 300px;
  float: right;
  margin: 20px 0;
  margin-right: 20px;
}

.footer{
  display: inline-block;
  width: 100%
}

.pagination-wrapper{
  float: left;
  margin-left: 50px
}

html {font-size: 16px!important;}

.page-wrapper{
  float: left;
  margin: 20px 0;
  margin-left: 50px;
}

.page-wrapper *{
  float: left;
  margin-right: 10px;
}

.page-wrapper span, .item-per-page-wrapper span{
  padding: 5px 0;
}

.form-control.no-full-width{
  width: 65px
}

.item-per-page-wrapper *{
  float: left;
  margin-right: 10px;
}

.rt-tr *:focus{
  outline: none
}

.ReactTable .-loading{
  top: 90%!important;
}