.clear-button {
  z-index: 1;
  position: absolute;
  margin-top: 6px;
  margin-left: -20px;
  cursor: pointer;
  color: #fff;
  border: 1px solid #aeaeae;
  border-radius: 30px;
  background: #605f61;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 6px 3px;
  &:before {
    content: "×";
  }
}

.react-datepicker-ignore-onclickoutside,
.react-datepicker__input-container input,
.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
}

.item-per-page-wrapper {
  width: 300px;
  float: right;
  margin: 20px 0;
  margin-right: 20px;
}

.footer {
  display: inline-block;
  width: 100%;
}

.pagination-wrapper {
  float: left;
  margin-left: 50px;
}

html {
  font-size: 16px !important;
}

.page-wrapper {
  float: left;
  margin-left: 20px;
  & > * {
    float: left;
    margin: 20px 0;
    margin-right: 10px;
  }
}

.page-wrapper span,
.item-per-page-wrapper span {
  padding: 5px 0;
}

.form-control.no-full-width {
  width: fit-content;
}

.item-per-page-wrapper * {
  float: left;
  margin-right: 10px;
}

.rt-tr *:focus {
  outline: none;
}

.ReactTable {
  .rt-noData {
    top: 90% !important;
  }
  .rt-resizable-header {
    padding: 6px 24px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  .rt-resizable-header-content:after {
    position: absolute;
    top: 3px;
    height: 18px;
    width: 18px;
    z-index: 120;
    content: "\f0dc";
    opacity: 0.5;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }
  .rt-th.-sort-asc .rt-resizable-header-content:after {
    content: "\f0de";
    opacity: 1;
  }
  .rt-th.-sort-desc .rt-resizable-header-content:after {
    content: "\f0dd";
    opacity: 1;
  }
}
